.App-header{
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    color: white;
}

.Text-header{
    text-indent: 5%;
    color: powderblue;
    font-size: x-large;
    font-family: cursive;
    margin: 15px;
}
