.Footer-bank{
    color: powderblue;
    font-family: cursive;
}

.App-footer {
    background-color: #282c34;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: 12px;
    color: white;
}