.App {
  display: grid;
  height: 100vh;
  grid-template-rows: 10vh 1fr 10vh;
}

.App-label-container {
  width: 25px;
  border: 1px solid #614c4c;
  text-align: center;
  line-height: 25px;
}

.For-base-table::-webkit-scrollbar-track
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  border-radius: 5px;
  background-color: #F5F5F5;
}

.For-base-table::-webkit-scrollbar
{
  width: 8px;
  background-color: #F5F5F5;
}

.For-base-table::-webkit-scrollbar-thumb
{
  border-radius: 10px;
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
  background-color: #666699;
}

.App-content {
  margin: 0 auto 45px;
}

.Table-header{
  max-width: 100%;
  width: 85%;
  text-align: center;
}

.Table-header, .Table-base {
  font-family: "Lucida Sans Unicode", "Lucida Grande", Sans-Serif, Serif;
  font-size: 15px;
  background: white;
  border-collapse: collapse;
}

.Table-base{
  max-width: 70%;
  width: 70%;
  text-align: left;
}
.For-base-table{
  height: 400px;
  overflow-y: auto;
}

th{
  font-weight: normal;
  color: #039;
  border-bottom: 2px solid #6678b1;
  padding: 4px 14px;
}
td{
  border-bottom: 1px solid #ccc;
  color: #669;
  padding: 9px 8px;
  transition: .3s linear;
}

tr .green {
  color: green;
}

tr .red {
  color: red;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header{
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: 12px;
  color: white;

}

.Text-header{
  text-indent: 5%;
  color: powderblue;
  font-size: x-large;
  font-family: cursive;
  margin: 15px;
}

.Footer-bank{
  color: powderblue;
  font-family: cursive;
}

.App-footer {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: 12px;
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

label{
  display: inline-block;
  cursor: pointer;
  position: relative;
  padding-left: 18px;
  margin-right: 14px;
  font-size: 15px;
}





